body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: black;
  color: white;
  padding: 0 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  color: wheat;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: grey;
    padding: 40px 0 0 10px;
    transition: 0.5s ease-in-out;
  }

  .active {
    right: 0px;
  }

  .navbar li {
    margin-bottom: 25px;
  }

  .hamburger {
    display: block;
    font-size: 25px;
    padding: 0 20px;
  }
}
